* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

/* DESTELLOS */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background:
    radial-gradient(2px 2px at 10% 20%, white, transparent),
    radial-gradient(2px 2px at 30% 40%, white, transparent),
    radial-gradient(1.5px 1.5px at 50% 10%, white, transparent),
    radial-gradient(2.5px 2.5px at 70% 30%, white, transparent),
    radial-gradient(1.5px 1.5px at 90% 60%, white, transparent),
    radial-gradient(2px 2px at 20% 80%, white, transparent),
    radial-gradient(2.5px 2.5px at 60% 70%, white, transparent),
    radial-gradient(1.5px 1.5px at 80% 90%, white, transparent);
  opacity: 0.9;
}

/* NAVBAR */
.navbar {
  background: #000;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #222;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
}

/* PORTADA */
.portada img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

/* CATALOGO */
.catalogo {
  position: relative;
  padding: 80px 40px;
}

/* FUEGO GRIS */
.catalogo::before {
  content: "";
  position: absolute;
  inset: -300px 0 0 0;
  background:
    radial-gradient(ellipse at bottom, rgba(200,200,200,0.35), transparent 70%),
    radial-gradient(ellipse at bottom left, rgba(160,160,160,0.25), transparent 65%),
    radial-gradient(ellipse at bottom right, rgba(120,120,120,0.3), transparent 60%);
  filter: blur(35px);
  z-index: -1;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


/* CARD */
.card {
  background: #000;
  border: 1px solid #222;
  text-align: center;
  padding-bottom: 20px;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.3s;
}

.img-box:hover .overlay {
  opacity: 1;
}

.card h3 {
  margin-top: 15px;
  font-size: 1rem;
}

.card p {
  margin-top: 5px;
  color: #ccc;
}

/* FOOTER */
footer {
  background: #000;
  padding: 40px;
  text-align: center;
  border-top: 1px solid #222;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .portada img {
    height: 40vh;
  }
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
